# Development environment settings
DJANGO_ENV=test

# Can use default insecure key for development
SECRET_KEY=dev-secret-key-not-for-production

ALLOWED_HOSTS=localhost,127.0.0.1

# Local/Test PostgreSQL Database
DB_TEST_NAME=homefield_test
DB_TEST_USER=your_local_db_user
DB_TEST_PASSWORD=your_local_db_password
DB_TEST_HOST=host.docker.internal
DB_TEST_PORT=5432
